.frame-child,
.large-nintendo-logo {
  position: absolute;
  top: -17px;
  left: 0;
  width: 1440px;
  height: 820px;
  object-fit: cover;
}
.frame-child {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.emulation {
  margin: 0;
}
.emulation-archive {
  height: 172.2px;
  width: 829.2px;
  position: absolute;
  margin: 0 !important;
  bottom: 392.83px;
  left: 63.48px;
  line-height: 70%;
  display: inline-block;
  transform: rotate(36.1deg);
  transform-origin: 0 0;
  z-index: 2;
}
.frame-parent {
  position: absolute;
  top: 141.5px;
  left: 338px;
  width: 758px;
  height: 576.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.large-nintendo-logo-parent {
  align-self: stretch;
  height: 803px;
  position: relative;
  text-align: center;
  font-size: 100px;
  color: var(--color-black);
  font-family: var(--font-arcadeclassic);
}
.image-4-icon {
  width: 994px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.home,
.image-4-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.image-4-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.home {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-11xl);
  gap: 36px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .emulation-archive {
    font-size: 50px;
    line-height: 42px;
  }
  .home {
    gap: 18px;
  }
}
@media screen and (max-width: 450px) {
  .emulation-archive {
    font-size: var(--font-size-11xl);
    line-height: 28px;
  }
}
