.frame-child2 {
  height: 92px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.nintendo-emulation-archive2 {
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.emulator2,
.learn2,
.timeline3 {
  text-decoration: none;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.timeline3 {
  width: 146px;
  position: relative;
  color: inherit;
  flex-shrink: 0;
}
.emulator2,
.learn2 {
  position: absolute;
  top: 0;
  height: 30px;
}
.learn2 {
  left: 134px;
  color: inherit;
  width: 92px;
  min-width: 92px;
}
.emulator2 {
  left: 0;
  color: var(--color-darkblue);
  width: 74px;
  min-width: 74px;
}
.learn-group {
  height: 30px;
  flex: 1;
  position: relative;
  color: var(--color-forestgreen);
}
.timeline-group {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
  font-family: var(--font-arcadeclassic);
}
.frame-nav,
.group-header {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-nav {
  margin: 0;
  width: 423px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.group-header {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-48xl) var(--padding-11xl)
    var(--padding-49xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-arcadeclassic);
}
.timeline4 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 400;
  font-family: inherit;
  text-shadow: 1px 0 0#021daa, 0 1px 0#021daa, -1px 0 0#021daa, 0-1px 0#021daa;
}
.timeline-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 243px 0 242px;
  box-sizing: border-box;
  max-width: 100%;
}
.third-generation-child {
  height: 128px;
  width: 128px;
  position: relative;
  background-color: var(--color-gray);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: none;
}
.third-gen-label {
  position: relative;
  text-shadow: 1px 0 0#e1e0e0, 0 1px 0#e1e0e0, -1px 0 0#e1e0e0, 0-1px 0#e1e0e0;
  z-index: 1;
}
.third-generation {
  height: 128px;
  background-color: var(--color-gray);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-18xl) var(--padding-5xs) var(--padding-19xl)
    var(--padding-2xs);
}
.line-div {
  align-self: stretch;
  height: 5px;
  position: relative;
  border-top: 5px solid var(--color-gainsboro);
  box-sizing: border-box;
  z-index: 1;
}
.second-generation-inner {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 66px var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.color-tv-game {
  position: relative;
  white-space: pre-wrap;
}
.color-t-v {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  color: var(--color-white);
}
.first-generation,
.second-generation,
.third-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.second-generation {
  justify-content: flex-start;
  row-gap: 20px;
}
.first-generation,
.third-row {
  justify-content: flex-end;
  padding: 0 var(--padding-2xs);
  box-sizing: border-box;
}
.third-row {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  min-width: 214px;
}
.frame-child3 {
  width: 105px;
  height: 5px;
  position: relative;
  border-top: 5px solid var(--color-gainsboro);
  box-sizing: border-box;
  z-index: 2;
}
.fourth-row-inner {
  height: 63px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.fifth-row-child {
  height: 3485.5px;
  width: 8px;
  position: absolute;
  margin: 0 !important;
  bottom: -3265.5px;
  left: calc(50% - 4px);
  border-right: 8px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.sixth-row-label {
  position: relative;
  text-shadow: 1px 0 0#e1e0e0, 0 1px 0#e1e0e0, -1px 0 0#e1e0e0, 0-1px 0#e1e0e0;
  z-index: 2;
}
.fifth-row,
.sixth-row {
  align-self: stretch;
  align-items: flex-start;
}
.sixth-row {
  background-color: var(--color-gray);
  border: 1px solid var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-18xl) var(--padding-5xs) var(--padding-19xl)
    var(--padding-2xs);
  z-index: 1;
}
.fifth-row {
  position: relative;
}
.fifth-row,
.first-row,
.fourth-row,
.second-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.fourth-row {
  height: 128px;
  align-items: flex-end;
  text-align: left;
  color: var(--color-gainsboro);
}
.first-row,
.second-row {
  align-items: flex-start;
  max-width: 100%;
}
.second-row {
  flex: 1;
  gap: 10px;
}
.first-row {
  padding: 0 53px;
  box-sizing: border-box;
  color: var(--color-white);
}
.nes {
  align-self: stretch;
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.nes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-20xl) 10px 0 0;
}
.line-icon {
  align-self: stretch;
  height: 5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-45xl-5) 0 0;
}
.seventh-row,
.seventh-row-child {
  width: 128px;
  background-color: var(--color-darkblue);
  border: 10px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.seventh-row-child {
  height: 128px;
  position: relative;
  display: none;
}
.seventh-row {
  align-self: stretch;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-2xs) var(--padding-21xl);
  z-index: 1;
  text-align: left;
  color: var(--color-gainsboro);
}
.first-row1,
.frame-parent3,
.rectangle-parent1,
.seventh-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent3 {
  align-self: stretch;
  justify-content: flex-start;
}
.first-row1,
.rectangle-parent1 {
  height: 128px;
  box-sizing: border-box;
}
.first-row1 {
  width: 923px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.rectangle-parent1 {
  background-color: var(--color-gray);
  border: 1px solid var(--color-gainsboro);
  justify-content: flex-start;
  padding: var(--padding-18xl) var(--padding-5xs) var(--padding-19xl)
    var(--padding-2xs);
  z-index: 1;
}
.frame-child5 {
  align-self: stretch;
  height: 5px;
  position: relative;
  border-top: 5px solid var(--color-gainsboro);
  box-sizing: border-box;
}
.line-wrapper {
  width: 112px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-46xl) var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.virtual-boy {
  position: relative;
}
.first-row2,
.frame-parent4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent4 {
  justify-content: center;
  row-gap: 20px;
}
.first-row2 {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 59px;
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gainsboro);
}
.game-boy {
  align-self: stretch;
  position: relative;
}
.game-boy-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20xl) 0 0;
}
.frame-parent6,
.game-boy-wrapper,
.vector-container {
  display: flex;
  justify-content: flex-start;
}
.vector-container {
  height: 63.5px;
  flex-direction: column;
  align-items: flex-start;
}
.frame-parent6 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  text-align: left;
  color: var(--color-gainsboro);
}
.first-row3,
.frame-parent5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent5 {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.first-row3 {
  width: 812px;
  height: 128px;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.frame-parent7,
.snes-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.snes-wrapper {
  flex-direction: column;
  padding: var(--padding-20xl) 0 0;
  color: var(--color-gold-100);
}
.frame-parent7 {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.first-row4,
.nintendo-64-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.first-row4 {
  align-self: stretch;
  height: 128px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 289px;
  max-width: 100%;
  text-align: left;
  color: var(--color-gainsboro);
}
.nintendo-64-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  min-width: 176px;
}
.frame-parent8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-2xs);
  max-width: 100%;
}
.first-row5,
.game-boy-color-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.first-row5 {
  width: 732px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.game-boy-color-wrapper {
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  color: var(--color-white);
}
.frame-parent10 {
  flex-direction: row;
  justify-content: center;
  row-gap: 20px;
}
.first-row6,
.frame-parent10,
.game-boy-advance-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.first-row6 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
  color: var(--color-gainsboro);
}
.game-boy-advance-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  box-sizing: border-box;
  min-width: 248px;
}
.first-row7,
.first-row8,
.tenth-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.tenth-row {
  align-self: stretch;
  width: 128px;
  background-color: var(--color-darkblue);
  border: 10px solid var(--color-gainsboro);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-2xs) var(--padding-21xl);
  z-index: 1;
}
.first-row7,
.first-row8 {
  max-width: 100%;
}
.first-row7 {
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.first-row8 {
  align-self: stretch;
  height: 128px;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-376xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--color-gainsboro);
}
.wii {
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.first-row10 {
  align-self: stretch;
  height: 128px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 263px;
  text-align: left;
  color: var(--color-gainsboro);
}
.first-row10,
.first-row11,
.first-row12,
.nintendo-3ds-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.nintendo-3ds-wrapper {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-20xl) 0 0;
  min-width: 193px;
}
.first-row11,
.first-row12 {
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
.first-row11 {
  width: 706px;
  padding: 0 var(--padding-xl);
  color: var(--color-white);
}
.first-row12 {
  align-self: stretch;
  padding: 0 var(--padding-xl) 0 295px;
  text-align: left;
  color: var(--color-gainsboro);
}
.nintendo-switch-wrapper,
.rectangle-parent11 {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.nintendo-switch-wrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-20xl) 0 0;
  min-width: 244px;
  max-width: 100%;
}
.rectangle-parent11 {
  width: 128px;
  height: 128px;
  background-color: var(--color-darkblue);
  border: 10px solid var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-20xl) var(--padding-2xs) var(--padding-21xl);
  flex-shrink: 0;
  z-index: 1;
}
.arrow-icon {
  height: 124.2px;
  width: 58.9px;
  position: relative;
  object-fit: contain;
  flex-shrink: 0;
}
.switch-description,
.switch-description-inner {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.switch-description-inner {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-8xs);
}
.switch-description {
  flex-direction: column;
  justify-content: flex-start;
  gap: 9.8px;
}
.console-grid-inner,
.frame-parent18,
.switch-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.switch-details {
  justify-content: flex-start;
  text-align: left;
  color: var(--color-gainsboro);
}
.console-grid-inner,
.frame-parent18 {
  max-width: 100%;
}
.frame-parent18 {
  flex: 1;
  justify-content: center;
  gap: var(--gap-2xs);
}
.console-grid-inner {
  justify-content: flex-start;
  padding: 0 6px;
  box-sizing: border-box;
}
.console-grid,
.consoles,
.generations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.console-grid {
  align-self: stretch;
  align-items: flex-start;
  gap: 118px;
  text-align: right;
  color: var(--color-gold);
}
.consoles,
.generations {
  align-items: flex-end;
}
.generations {
  align-self: stretch;
  gap: 92px;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-gainsboro);
}
.consoles {
  width: 1063px;
  gap: 162px;
  text-align: center;
  font-size: var(--font-size-101xl);
  color: #ff2f1d;
  font-family: var(--font-arcadeclassic);
}
.content1,
.timeline2 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.content1 {
  width: 1389px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.timeline2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-71xl);
  gap: var(--gap-123xl);
  background-image: url(./public/timeline@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .timeline-wrapper {
    padding-left: var(--padding-102xl);
    padding-right: var(--padding-102xl);
    box-sizing: border-box;
  }
  .console-grid {
    gap: 59px;
  }
  .generations {
    gap: 46px;
  }
  .consoles {
    gap: 81px;
  }
}
@media screen and (max-width: 1000px) {
  .nintendo-emulation-archive2 {
    display: none;
  }
  .timeline4 {
    font-size: var(--font-size-29xl);
    line-height: 48px;
  }
  .color-tv-game,
  .game-boy,
  .nes,
  .sixth-row-label,
  .third-gen-label,
  .virtual-boy {
    font-size: var(--font-size-19xl);
  }
  .first-row8 {
    padding-left: 197px;
    box-sizing: border-box;
  }
  .wii {
    font-size: var(--font-size-19xl);
  }
}
@media screen and (max-width: 725px) {
  .group-header,
  .timeline-wrapper {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .timeline-wrapper {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
  }
  .second-generation {
    flex-wrap: wrap;
  }
  .fourth-row {
    flex: 1;
  }
  .second-row {
    flex-wrap: wrap;
  }
  .first-row {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .first-row2 {
    padding-left: var(--padding-10xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
  .frame-parent7 {
    flex-wrap: wrap;
  }
  .first-row4 {
    padding-left: 144px;
    box-sizing: border-box;
  }
  .first-row7,
  .frame-parent10,
  .frame-parent8 {
    flex-wrap: wrap;
  }
  .first-row10,
  .first-row12 {
    padding-left: 131px;
    box-sizing: border-box;
  }
  .first-row12 {
    padding-left: 147px;
  }
  .switch-details {
    flex: 1;
  }
  .frame-parent18 {
    flex-wrap: wrap;
  }
  .console-grid {
    gap: var(--gap-10xl);
  }
  .generations {
    gap: var(--gap-4xl);
  }
  .consoles {
    gap: var(--gap-21xl);
  }
  .timeline2 {
    gap: var(--gap-52xl);
  }
}
@media screen and (max-width: 450px) {
  .timeline-group {
    display: none;
    gap: var(--gap-7xl);
  }
  .frame-nav {
    display: none;
    width: 0;
  }
  .timeline4 {
    font-size: var(--font-size-11xl);
    line-height: 32px;
  }
  .timeline-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .color-tv-game,
  .game-boy,
  .nes,
  .sixth-row-label,
  .third-gen-label,
  .virtual-boy {
    font-size: var(--font-size-10xl);
  }
  .first-row4,
  .first-row8 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .wii {
    font-size: var(--font-size-10xl);
  }
  .first-row10,
  .first-row12 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .consoles {
    gap: var(--gap-xl);
  }
  .timeline2 {
    gap: var(--gap-16xl);
  }
}
