.frame-child35 {
  height: 92px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.nintendo-emulation-archive7 {
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.emulator7,
.learn9,
.timeline9 {
  
  text-decoration: none;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.timeline9 {
  width: 146px;
  position: relative;
  color: inherit;
  flex-shrink: 0;
}
.emulator7,
.learn9 {
  position: absolute;
  top: 0;
  height: 30px;
}
.learn9 {
  left: 134px;
  color: inherit;
  width: 92px;
  min-width: 92px;
}
.emulator7 {
  left: 0;
  color: var(--color-darkblue);
  width: 74px;
  min-width: 74px;
}
.learn-parent1 {
  height: 30px;
  flex: 1;
  position: relative;
  color: var(--color-forestgreen);
}
.timeline-parent4 {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
  font-family: var(--font-arcadeclassic);
}
.frame-wrapper7,
.rectangle-parent18 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper7 {
  margin: 0;
  width: 423px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-parent18 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-48xl) var(--padding-11xl)
    var(--padding-49xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-arcadeclassic);
}
.rectangle-icon {
  height: 800px;
  width: 1196px;
  position: relative;
  display: none;
  max-width: 100%;
}
.emulation-window {
  margin: 0;
  height: 84px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.vector-group,
.window-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.vector-group {
  flex: 1;
  background-color: var(--color-black);
  justify-content: flex-start;
  padding: 380px 326px 336px;
}
.window-content {
  width: 1204px;
  justify-content: flex-end;
  padding: 0 4px 275.5px;
  text-align: center;
}
.controls,
.d-pad- {
  margin: 0;
}
.d-pad- {
  white-space: pre-wrap;
}
.controls-d-pad-container {
  margin: 0;
  align-self: stretch;
  height: 269.4px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.control-instructions-child {
  border: 1px solid var(--color-gainsboro);
  background-color: var(--color-gainsboro);
  height: 341px;
  width: auto;
  outline: 0;
  align-self: stretch;
  position: relative;
  border-radius: var(--br-xl);
  box-sizing: border-box;
}
.control-instructions {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 21.9px;
}
.cras-pellentesque-massa {
  margin: 0;
  font-size: var(--font-size-11xl);
  font-family: var(--font-roboto-mono);
  white-space: pre-wrap;
}
.cras-pellentesque-massa-container {
  height: 662px;
  flex: 1;
  position: relative;
  display: inline-block;
  text-shadow: 1px 0 0#e1e0e0, 0 1px 0#e1e0e0, -1px 0 0#e1e0e0, 0-1px 0#e1e0e0;
  max-width: 100%;
  z-index: 1;
}
.description1 {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-7xl);
  box-sizing: border-box;
  margin-top: -357px;
  color: var(--color-black);
}
.control-keys,
.description1,
.keys-description {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.keys-description {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
}
.control-keys {
  width: 1200px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.separator-icon {
  align-self: stretch;
  height: 5px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  margin-top: -287px;
}
.controls-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-height: 937px;
  max-width: 100%;
}
.controls-content-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -224.7px;
  font-size: var(--font-size-29xl);
}
.more-games {
  margin: 0;
  width: 544px;
  height: 9.5px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
}
.game-image1,
.game-thumbnail {
  border: 0;
  background-color: var(--color-darkslategray-100);
  height: 282px;
  width: auto;
  outline: 0;
  position: relative;
}
.game-thumbnail {
  flex: 1;
  min-width: 259px;
  max-width: 100%;
}
.game-image1 {
  align-self: stretch;
}
.game-image-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 262px;
  max-width: 100%;
}
.games-content-child {
  height: 282px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  min-width: 259px;
}
.games-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 80px;
  max-width: 100%;
}
.more-games-parent,
.window-content-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.more-games-parent {
  width: 1200px;
  align-items: flex-start;
  gap: 58.2px;
  margin-top: -224.7px;
  color: var(--color-gold-100);
}
.window-content-parent {
  align-items: flex-end;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-gold);
  font-family: var(--font-arcadeclassic);
}
.play,
.play-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.play-inner {
  width: 1424px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.play {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-41xl);
  gap: var(--gap-60xl);
  background-image: url(./public/play@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .vector-group {
    padding-left: var(--padding-144xl);
    padding-right: var(--padding-144xl);
    box-sizing: border-box;
  }
  .window-content {
    padding-bottom: 179px;
    box-sizing: border-box;
  }
  .games-content {
    gap: var(--gap-21xl);
  }
}
@media screen and (max-width: 1050px) {
  .nintendo-emulation-archive7 {
    display: none;
  }
  .emulation-window {
    font-size: var(--font-size-34xl);
    line-height: 34px;
  }
  .vector-group {
    padding-top: 247px;
    padding-bottom: 218px;
    box-sizing: border-box;
  }
  .controls-d-pad-container {
    font-size: var(--font-size-19xl);
  }
  .cras-pellentesque-massa-container {
    font-size: var(--font-size-5xl);
  }
  .more-games {
    font-size: var(--font-size-34xl);
    line-height: 34px;
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent18,
  .vector-group {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .vector-group {
    padding-left: var(--padding-62xl);
    padding-right: var(--padding-62xl);
  }
  .window-content {
    padding-bottom: 116px;
    box-sizing: border-box;
  }
  .games-content {
    gap: var(--gap-xl);
  }
  .more-games-parent {
    gap: var(--gap-10xl);
  }
  .play {
    gap: var(--gap-20xl);
  }
}
@media screen and (max-width: 450px) {
  .timeline-parent4 {
    display: none;
    gap: var(--gap-7xl);
  }
  .frame-wrapper7 {
    display: none;
    width: 0;
  }
  .emulation-window {
    font-size: var(--font-size-21xl);
    line-height: 25px;
  }
  .vector-group {
    padding: 161px var(--padding-xl) 142px;
    box-sizing: border-box;
  }
  .controls-d-pad-container {
    font-size: var(--font-size-10xl);
  }
  .cras-pellentesque-massa-container {
    font-size: var(--font-size-lg);
  }
  .more-games {
    font-size: var(--font-size-21xl);
    line-height: 25px;
  }
  .play {
    gap: var(--gap-xl);
  }
}
