.frame-child36 {
  height: 92px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.nintendo-emulation-archive8 {
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.emulator8,
.learn10,
.timeline10 {
  text-decoration: none;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.timeline10 {
  width: 146px;
  position: relative;
  color: inherit;
  flex-shrink: 0;
}
.emulator8,
.learn10 {
  position: absolute;
  top: 0;
  height: 30px;
}
.learn10 {
  left: 134px;
  color: inherit;
  width: 92px;
  min-width: 92px;
}
.emulator8 {
  left: 0;
  color: var(--color-darkblue);
  width: 74px;
  min-width: 74px;
}
.learn-emulator {
  height: 30px;
  flex: 1;
  position: relative;
  color: var(--color-forestgreen);
}
.timeline-parent5 {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
  font-family: var(--font-arcadeclassic);
}
.frame-wrapper8,
.rectangle-parent19 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-wrapper8 {
  margin: 0;
  width: 423px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.rectangle-parent19 {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-48xl) var(--padding-11xl)
    var(--padding-49xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-arcadeclassic);
}
.top {
  position: relative;
}
.system-details {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-56xl) 0 var(--padding-57xl);
  box-sizing: border-box;
  max-width: 100%;
}
.super-nintendo {
  margin: 0;
  white-space: pre-wrap;
}
.entertainment-system1 {
  margin: 0;
}
.super-nintendo-entertainment-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-29xl);
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  text-align: center;
}
.s-n-e-s-banner,
.s-n-e-s-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.s-n-e-s-name {
  align-self: stretch;
}
.s-n-e-s-banner {
  padding: 0 0 98px;
  box-sizing: border-box;
  min-height: 342px;
}
.image-9-icon {
  height: 441px;
  flex: 1;
  position: relative;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 382px;
}
.content4,
.s-n-e-s-banner-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.s-n-e-s-banner-parent {
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-65xl);
}
.content4 {
  width: 1424px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 608px;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-137xl);
  color: var(--color-gold);
  font-family: var(--font-arcadeclassic);
}
.metroid-content-child {
  width: 588px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.super-metroid1 {
  margin: 0;
  width: 544px;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.game-image2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  width: 608px;
  height: 218px;
}
.span2 {
  color: var(--color-forestgreen);
}
.play-here2 {
  text-decoration: underline;
  color: var(--color-red);
}
.lorem-ac-porttitor-container2 {
  position: absolute;
  width: calc(100% - 20px);
  top: 0;
  left: 10px;
  display: inline-block;
  height: 231px;
  z-index: 1;
}
.game-details1 {
  align-self: stretch;
  height: 231px;
  position: relative;
  font-size: var(--font-size-11xl);
  color: var(--color-gray);
  font-family: var(--font-roboto-mono);
}
.contact-grid {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-4xl);
}
.contact-grid,
.game-info,
.metroid-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.game-info {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-9xl) 0 0;
  box-sizing: border-box;
  min-width: 395px;
}
.metroid-content {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-54xl);
}
.next-up3,
.snes4 {
  align-self: stretch;
  position: relative;
  line-height: 42px;
}
.next-up3 {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.snes4 {
  text-decoration: underline;
  color: var(--color-red);
}
.next-up-button {
  width: 543px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.metroid-content-parent,
.next-up-button,
.next-up2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.next-up2 {
  width: 1249px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  color: var(--color-black);
}
.metroid-content-parent {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-60xl);
}
.game-highlight,
.snes3 {
  display: flex;
  box-sizing: border-box;
}
.game-highlight {
  width: 1421px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-57xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-gold);
  font-family: var(--font-arcadeclassic);
}
.snes3 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-76xl);
  gap: var(--gap-105xl);
  background-image: url(./public/nes@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .s-n-e-s-banner-parent {
    gap: var(--gap-23xl);
  }
  .metroid-content-child {
    flex: 1;
  }
  .metroid-content {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .nintendo-emulation-archive8 {
    display: none;
  }
  .top {
    font-size: var(--font-size-43xl);
  }
  .super-nintendo-entertainment-container {
    font-size: var(--font-size-19xl);
    line-height: 34px;
  }
  .s-n-e-s-banner {
    flex: 1;
  }
  .s-n-e-s-banner-parent {
    flex-wrap: wrap;
  }
  .content4 {
    padding-bottom: var(--padding-376xl);
    box-sizing: border-box;
  }
  .super-metroid1 {
    font-size: var(--font-size-34xl);
    line-height: 34px;
  }
  .lorem-ac-porttitor-container2 {
    font-size: var(--font-size-5xl);
  }
  .next-up3,
  .snes4 {
    font-size: var(--font-size-34xl);
    line-height: 34px;
  }
}
@media screen and (max-width: 750px) {
  .rectangle-parent19,
  .system-details {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .system-details {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-18xl);
  }
  .s-n-e-s-banner {
    min-width: 100%;
  }
  .s-n-e-s-banner-parent {
    gap: var(--gap-2xl);
  }
  .content4 {
    padding-bottom: 257px;
    box-sizing: border-box;
  }
  .game-info {
    min-width: 100%;
  }
  .metroid-content {
    gap: var(--gap-17xl);
  }
  .metroid-content-parent {
    gap: var(--gap-20xl);
  }
  .game-highlight {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .snes3 {
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 450px) {
  .timeline-parent5 {
    display: none;
    gap: var(--gap-7xl);
  }
  .frame-wrapper8 {
    display: none;
    width: 0;
  }
  .top {
    font-size: var(--font-size-20xl);
  }
  .super-nintendo-entertainment-container {
    font-size: var(--font-size-10xl);
    line-height: 25px;
  }
  .image-9-icon {
    min-width: 100%;
  }
  .super-metroid1 {
    font-size: var(--font-size-21xl);
    line-height: 25px;
  }
  .lorem-ac-porttitor-container2 {
    font-size: var(--font-size-lg);
  }
  .metroid-content {
    gap: var(--gap-lg);
  }
  .next-up3,
  .snes4 {
    font-size: var(--font-size-21xl);
    line-height: 25px;
  }
  .metroid-content-parent {
    gap: var(--gap-xl);
  }
  .snes3 {
    gap: var(--gap-12xl);
  }
}
