.frame-child27 {
  height: 92px;
  width: 1440px;
  position: relative;
  background-color: var(--color-darkslategray);
  display: none;
  max-width: 100%;
}
.nintendo-emulation-archive4 {
  position: relative;
  white-space: pre-wrap;
  z-index: 1;
}
.emulator4,
.learn4,
.timeline6 {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.timeline6 {
  width: 146px;
  position: relative;
  color: inherit;
  flex-shrink: 0;
}
.emulator4,
.learn4 {
  position: absolute;
  top: 0;
  line-height: 30px;
  height: 30px;
}
.learn4 {
  left: 134px;
  color: inherit;
  width: 92px;
  min-width: 92px;
}
.emulator4 {
  left: 0;
  color: var(--color-darkblue);
  width: 74px;
  min-width: 74px;
}
.learn-container {
  height: 30px;
  flex: 1;
  position: relative;
  color: var(--color-forestgreen);
}
.timeline-parent1 {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-red);
  font-family: var(--font-arcadeclassic);
}
.frame-header,
.nintendo-content {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.nintendo-content {
  margin: 0;
  width: 423px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.frame-header {
  align-self: stretch;
  background-color: var(--color-darkslategray);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-11xl) var(--padding-48xl) var(--padding-9xl)
    var(--padding-49xl);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-arcadeclassic);
}
.about-emulation {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 80px;
  font-weight: 400;
  font-family: inherit;
}
.about-emulation-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 128px 0 127px;
  text-align: center;
  font-size: var(--font-size-101xl);
}
.what-is-emulation {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
}
.what-is-emulation-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-10xs);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child28 {
  height: 340px;
  width: 710px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  display: none;
  max-width: 100%;
}
.arcade-games-magnavox1 {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.arcade-games-content,
.group-div {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.group-div {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-15xl) var(--padding-12xl);
  min-height: 340px;
}
.arcade-games-content {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
  min-width: 461px;
}
.frame-child29 {
  width: 466px;
  position: relative;
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}
.arcade-games-content-parent,
.what-is-emulation-content-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.arcade-games-content-parent {
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.what-is-emulation-content-parent {
  flex-direction: column;
  gap: var(--gap-7xs);
}
.how-emulation-works {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
}
.how-and-game-watch,
.rectangle-parent13 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.rectangle-parent13 {
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro);
  flex-direction: row;
  padding: var(--padding-6xl-3) var(--padding-12xl) var(--padding-6xl);
  box-sizing: border-box;
  min-height: 340px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto-mono);
}
.how-and-game-watch {
  flex-direction: column;
  gap: var(--gap-12xl);
}
.h1 {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 42px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.empty-content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-64xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  color: var(--color-black);
}
.how-it-works-content {
  width: 710px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 275.9px;
  max-width: 100%;
}
.about-and-types,
.how-it-works-content-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.how-it-works-content-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-3xl) 0 var(--padding-xl);
  box-sizing: border-box;
}
.about-and-types {
  width: 1196px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-106xl);
  text-align: left;
  font-size: var(--font-size-47xl);
  color: var(--color-gold);
  font-family: var(--font-arcadeclassic);
}
.about-and-types-wrapper,
.emulation1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.about-and-types-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
}
.emulation1 {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 188.3px;
  gap: var(--gap-123xl);
  background-image: url(./public/emulation@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .about-emulation-wrapper {
    padding-left: 63px;
    padding-right: 64px;
    box-sizing: border-box;
  }
  .about-and-types {
    gap: var(--gap-43xl);
  }
}
@media screen and (max-width: 1050px) {
  .nintendo-emulation-archive4 {
    display: none;
  }
  .about-emulation {
    font-size: var(--font-size-29xl);
    line-height: 48px;
  }
  .what-is-emulation {
    font-size: var(--font-size-34xl);
    line-height: 34px;
  }
  .frame-child29 {
    flex: 1;
  }
  .arcade-games-content-parent {
    flex-wrap: wrap;
  }
  .h1,
  .how-emulation-works {
    font-size: var(--font-size-34xl);
    line-height: 34px;
  }
}
@media screen and (max-width: 750px) {
  .frame-header {
    padding-left: var(--padding-15xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .about-emulation-wrapper {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .arcade-games-content {
    min-width: 100%;
  }
  .how-and-game-watch {
    gap: var(--gap-mini);
  }
  .empty-content {
    padding-left: var(--padding-22xl);
    padding-right: var(--padding-22xl);
    box-sizing: border-box;
  }
  .how-it-works-content {
    gap: 138px;
  }
  .about-and-types {
    gap: var(--gap-12xl);
  }
  .emulation1 {
    gap: var(--gap-52xl);
  }
}
@media screen and (max-width: 450px) {
  .timeline-parent1 {
    display: none;
    gap: var(--gap-7xl);
  }
  .nintendo-content {
    display: none;
    width: 0;
  }
  .about-emulation {
    font-size: var(--font-size-11xl);
    line-height: 32px;
  }
  .what-is-emulation {
    font-size: var(--font-size-21xl);
    line-height: 25px;
  }
  .arcade-games-magnavox1 {
    font-size: var(--font-size-lgi);
  }
  .h1,
  .how-emulation-works {
    font-size: var(--font-size-21xl);
    line-height: 25px;
  }
  .how-it-works-content {
    gap: 69px;
  }
  .about-and-types {
    gap: var(--gap-base);
  }
  .emulation1 {
    gap: var(--gap-16xl);
  }
}
